<html>
    <head>
        <title>test</title>
    </head>
    <body style='background-color: #111;'>
        <!-- <canvas id='canvas'></canvas> -->
        <svg id='mountains'>
            <!-- <linearGradient id="lgrad" x1="33%" y1="100%" x2="66%" y2="0%" >
                <stop offset="0%" style="stop-color:#111; stop-opacity:1" />
                <stop offset="50%" style="stop-color:#111; stop-opacity:1" />
                <stop offset="100%" style="stop-color:#08f; stop-opacity:1" />
            </linearGradient> -->
            <!-- <lineargradient id="lgrad" x1="33%" y1="100%" x2="66%" y2="0%">
                <stop offset="0%" style="stop-color:#111; stop-opacity:1"></stop>
                <stop offset="50%" style="stop-color:#111; stop-opacity:1"></stop>
                <stop offset="100%" style="stop-color:#08f; stop-opacity:1"></stop>
            </lineargradient> -->
        </svg>
        <!-- <figure id='mountains'></figure> -->
    </body>
    <footer>
        <script src='./mountains.js'></script>
    </footer>
</html>